Package: sleep-walker
Source: sleep-walker
Version: 1.0-1
Installed-Size: 192
Architecture: all
Maintainer: Ikem Krueger <ikem.krueger@gmail.com>
Depends: python:any (>= 2.7), python-pip, python-setuptools, python-xlib, libxss1
Section: utils
Priority: optional
Homepage: https://github.com/ikem-krueger/sleep-walker
Description: A daemon to put hidden windows to sleep
