Package: sleep-walker
Priority: optional
Section: utils
Installed-Size: 200
Maintainer: Ikem Krueger <ikem.krueger@gmail.com>
Architecture: all
Source: sleep-walker
Version: 1.0-1
Depends: python:any (>= 2.7), python-pip, python-setuptools, python-xlib, libxss1
Description: A daemon to put hidden windows to sleep
Homepage: https://github.com/ikem-krueger/sleep-walker

